::before,
*::after {
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: inherit;
}

ul,
ol {
  list-style-type: none;
  padding: 0;
  margin: 0;
}
h1,
h2,
h3,
h4,
p {
  margin: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

button {
  cursor: pointer;
}

body {
  font-family: Poppins, sans-serif;
  background-color: #fff;
  color: #22343d;
}

.container {
  max-width: 411px;
  padding: 0 27px;
  margin: 0 auto;
}

@media screen and (min-width: 1200px) {
  .container {
    max-width: 1150px;
    padding-left: 20px;
    padding-right: 20px;
  }
}

/* header */
.header {
  padding-top: 17px;
  padding-bottom: 17px;
  box-shadow: 0 -2px 8px 0 rgba(0, 0, 0, 0.25);
}

.header-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.nav {
  display: flex;
  align-items: center;
}

.logo {
  font-weight: 700;
  font-size: 30px;
  line-height: 0.93;
  color: #173a56;
  gap: 8px;
  display: flex;
  align-items: center;
}

.nav-list,
.header-list {
  display: none;
}

.burger-btn {
  padding: 0;
  border: none;
  background-color: transparent;
}

.burger-icon {
  display: block;
  stroke: #173a56;
}

@media screen and (min-width: 1200px) {
  .header {
    padding: 19px;
    box-shadow: none;
  }

  .burger-btn {
    display: none;
  }

  .header-container {
    justify-content: unset;
  }

  .header-logo {
    margin-right: 237px;
  }

  .nav-list {
    display: flex;
    align-items: center;
    gap: 30px;
  }

  .nav-link {
    line-height: 1.75;
    padding: 26px 0;
    display: block;
  }

  .current {
    font-weight: 600;
  }

  .header-list {
    display: flex;
    align-items: center;
    gap: 21px;
    margin-left: auto;
  }

  .header-btn {
    font-weight: 600;
    font-size: 16px;
    border-radius: 4px;
  }

  .header-btn-in {
    color: #173a56;
    background-color: transparent;
    border: 1px solid #bcd0e5;
    border-radius: 4px;
    min-width: 105px;
    height: 42px;
  }

  .header-btn-up {
    color: #fff;
    background-color: #02897a;
    border: none;
    border-radius: 4px;
    min-width: 113px;
    height: 42px;
  }

  .header-btn-in:hover,
  .hero-btn-in:focus {
    background-color: #4d8dff;
  }

  .header-btn-up:hover,
  .hero-btn-up:focus {
    background-color: #173a56;
  }
}

/* hero */
.hero {
  padding-top: 30px;
  padding-bottom: 50px;
}

.hero-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column-reverse;
  gap: 10px;
}

.hero-descr {
  width: 369px;
}

.hero-title {
  text-align: center;

  font-size: 36px;
  line-height: 1.7;
  margin-bottom: 16px;

  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.hero-text {
  text-align: center;

  line-height: 1.55;
  font-size: 18px;
  max-width: 326px;
  margin-bottom: 16px;

  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.hero-list {
  display: flex;
  align-items: center;
  gap: 28px;
}

.hero-btn {
  font-size: 16px;
}

.hero-btn-start {
  font-weight: 700;
  color: #fff;
  background-color: #02897a;

  border-radius: 4px;
  border: none;
  min-width: 142px;
  height: 53px;

  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.hero-btn-start:hover,
.hero-btn-start:focus {
  background-color: #173a56;
}

.hero-btn-watch {
  font-weight: 600;
  text-decoration: underline;
  color: #02897a;
  border: none;
  background-color: transparent;

  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);

  min-width: 165px;
  height: 23px;

  display: flex;
  align-items: center;
  justify-content: center;
  gap: 9px;
}

.hero-btn-watch:hover,
.hero-btn-watch:focus {
  color: #173a56;
}

.hero-btn-icon {
  border-radius: 1px;
  fill: #02897a;
}

.hero-btn-watch:hover .hero-btn-icon,
.hero-btn-watch:focus .hero-btn-icon {
  fill: #173a56;
}

@media screen and (min-width: 1200px) {
  .hero {
    padding-top: 25px;
  }

  .hero-container {
    flex-direction: row;
    gap: 35px;
  }

  .hero-descr {
    width: 465px;
  }

  .hero-title {
    font-size: 40px;
    line-height: 1.5;
    width: 420px;

    margin-bottom: 18px;
    padding-top: 112px;
    text-align: left;

    text-shadow: none;
  }

  .hero-text {
    line-height: 1.55;
    font-size: 18px;
    max-width: 465px;
    margin-bottom: 45px;

    text-align: left;

    text-shadow: none;
  }
  .hero-list {
    gap: 30px;
  }

  .hero-btn-start {
    min-width: 178px;

    box-shadow: none;
  }

  .hero-btn-watch {
    min-width: 165px;

    text-shadow: none;
  }
}

/* products */

.products {
  padding-top: 50px;
  padding-bottom: 50px;
}

.products-title {
  font-size: 32px;
  text-align: center;
  margin: 0 auto 50px;
  max-width: 535px;
}

.products-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 32px;
  margin-bottom: 32px;
  text-align: center;
}

.products-item {
  width: 240px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.products-subtitle {
  font-weight: 600;
  font-size: 22px;
  margin-bottom: 8px;
}

.products-text {
  line-height: 1.625;
}

.products-btn {
  background-color: #02897a;
  border-radius: 4px;
  border: none;

  font-weight: 700;
  font-size: 16px;
  color: #fff;

  display: block;
  margin: 0 auto;
  width: 175px;
  height: 53px;
}

.products-btn:hover {
  background-color: #173a56;
}

.product-icon-wrap {
  display: flex;
  justify-content: center;
  align-items: center;

  margin-bottom: 24px;
  border-radius: 19px;

  width: 50px;
  height: 50px;
  background-color: #02897a;
}

.product-icon-wrap-second {
  background: #4d8dff;
}
.product-icon-wrap-third {
  background: #740a76;
}
.product-icon-wrap-fourth {
  background: #f03e3d;
}
.product-icon {
  fill: #fff;
}

@media screen and (min-width: 1200px) {
  .products-list {
    flex-direction: row;
    align-items: unset;
    gap: 30px;

    margin-bottom: 50px;
    text-align: left;
  }

  .products-item {
    width: calc((100% - 90px) / 4);
    flex-direction: column;
    align-items: flex-start;
  }

  .products-subtitle {
    margin-bottom: 13px;
    text-align: left;
  }

  .product-icon-wrap {
    margin-bottom: 26px;

    width: 54px;
    height: 54px;
  }
}

/* management */

.management {
  padding-top: 50px;
  padding-bottom: 50px;
}

.management-container {
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
  gap: 50px;
}

.management-title {
  font-weight: 600;
  font-size: 16px;
  max-width: 224px;
  margin-bottom: 25px;
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.management-title-part {
  font-weight: 700;
  font-size: 32px;
}

.management-description {
  width: 334px;
}

.management-text {
  line-height: 1.625;
  margin-bottom: 16px;
}

.management-list {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.management-subtitle {
  font-weight: 600;
  font-size: 16px;
  line-height: 1.625;
  margin-bottom: 12px;
}

.management-desc {
  line-height: 1.625;
}

@media screen and (min-width: 1200px) {
  .management-container {
    display: flex;
    flex-direction: unset;
    align-items: center;
    gap: 84px;
  }

  .management-description {
    padding-top: 41px;
    padding-bottom: 41px;
    width: 486px;
  }

  .management-text {
    margin-bottom: 30px;
  }

  .management-list {
    gap: 25px;
  }
}

/* customer */
.customer {
  padding: 50px 0;
}

.customer-container {
  display: flex;
  align-items: center;
  gap: 50px;
  flex-direction: column-reverse;
}

.customer-description {
  width: 339px;
}

.customer-title {
  font-weight: 600;
  font-size: 16px;
  display: flex;
  flex-direction: column;
  gap: 8px;
  margin-bottom: 16px;
}

.customer-title-part {
  font-weight: 700;
  font-size: 32px;
}

.customer-text {
  line-height: 1.625;
  margin-bottom: 16px;
}

.customer-list {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.customer-item {
  display: flex;
  align-items: center;
  gap: 30px;
}

.customer-desc {
  line-height: 1.625;
}

.customer-icon-wrap {
  border: 2.92px solid #fff;
  border-radius: 14px;
  width: 35px;
  height: 35px;
  background-color: #f90;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
}

.customer-icon-wrap-second {
  background: #f03e3d;
}

.customer-icon-wrap-third {
  background: #4d8dff;
}

.customer-icon {
  fill: #fff;
}

@media screen and (min-width: 1200px) {
  .customer-container {
    justify-content: space-between;
    gap: 84px;
    flex-direction: row-reverse;
  }

  .customer-description {
    width: 450px;
  }

  .customer-title {
    margin-bottom: 25px;
  }

  .customer-list {
    gap: 25px;
  }
}

/* optimisation */
.optimisation {
  padding-top: 50px;
  padding-bottom: 70px;
}

.optimisation .container {
  display: flex;
  align-items: center;
  flex-direction: column-reverse;
  gap: 50px;
}

.optimisation-text-wrap {
  width: 344px;
}

.optimisation-title {
  font-weight: 600;
  font-size: 16px;
  display: flex;
  flex-direction: column;
  gap: 8px;
  margin-bottom: 16px;
}

.optimisation-title-part {
  font-weight: 700;
  font-size: 32px;
}

.optimisation-text {
  line-height: 1.625;
  margin-bottom: 16px;
}

.optimisation-list {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.optimisation-subtitle {
  line-height: 1.625;
  font-size: 16px;
  margin-bottom: 12px;
}

.optimisation-desc {
  line-height: 1.625;
}

@media screen and (min-width: 1200px) {
  .optimisation {
    padding-bottom: 75px;
  }

  .optimisation .container {
    display: flex;
    align-items: center;
    flex-direction: unset;
    gap: 84px;
  }

  .optimisation-text-wrap {
    width: 486px;
  }

  .optimisation-text {
    margin-bottom: 30px;
  }

  .optimisation-list {
    gap: 25px;
  }
}

/* process */
.process {
  padding-top: 70px;
  padding-bottom: 50px;
}

.process-title {
  font-weight: 700;
  font-size: 32px;
  text-align: center;
  margin-bottom: 8px;
  width: 348px;
}

.process-text {
  line-height: 1.625;
  text-align: center;
  width: 338px;
  margin-bottom: 40px;
}

.process-list {
  display: flex;
  flex-wrap: wrap;
  gap: 32px;
  margin-bottom: 32px;
}

.process-item {
  width: 340px;
  display: flex;
  gap: 14px;
  align-items: center;
}

.process-desc {
  text-align: center;
  color: #2f281e;
  width: 180px;
}

.process-btn {
  font-weight: 700;
  font-size: 16px;
  color: #fff;

  border-radius: 4px;
  background-color: #02897a;
  border: none;
  margin: 0 auto;
  display: block;

  width: 216px;
  height: 53px;
}

.process-btn:hover,
.process-btn:focus {
  background-color: #173a56;
}

.process-text-wrap {
  width: 239px;
  height: 65px;
  border-radius: 25px;
  box-shadow: 0 2px 8px 0 rgba(86, 117, 146, 0.1);
  display: flex;
  align-items: center;
  justify-content: center;
}

.process-item-second,
.process-item-fourth {
  flex-direction: row-reverse;
}

@media screen and (min-width: 1200px) {
  .process {
    padding-top: 75px;
  }

  .process .container {
    width: 916px;
  }

  .process-title {
    margin: 0 auto 25px;
  }

  .process-text {
    width: 542px;
    margin-left: auto;
    margin-right: auto;
  }

  .process-list {
    gap: 25px 100px;
    margin-bottom: 50px;
  }

  .process-item {
    width: calc((100% - 100px) / 2);
    gap: 20px;
  }

  .process-desc {
    width: 300px;
  }

  .process-text-wrap {
    width: 281px;
    height: 50px;
    border-radius: 50px;
    box-shadow: 2px 2px 10px 0 rgba(23, 58, 86, 0.15);
  }

  .process-item-second {
    order: 3;
  }

  .process-item-third {
    order: 4;
  }
  .process-item-fourth {
    order: 2;
  }
}
