::before,
*::after {
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: inherit;
}

ul,
ol {
  list-style-type: none;
  padding: 0;
  margin: 0;
}
h1,
h2,
h3,
h4,
p {
  margin: 0;
}

img {
  display: block;
}

button {
  cursor: pointer;
}

body {
  font-family: Poppins, sans-serif;
  background-color: #fff;
  color: #22343d;
}

.container {
  max-width: 411px;
  padding-left: 27px;
  padding-right: 27px;
  margin: 0 auto;
}

/* hero */
.hero {
  padding-top: 30px;
  padding-bottom: 50px;
}

.hero .container {
  display: flex;
  flex-direction: column-reverse;
  gap: 11px;
}

.hero-title {
  font-size: 36px;
  line-height: 1.67;
  text-align: center;
  width: 452px;
  margin-bottom: 16px;
}

.hero-text {
  line-height: 1.55;
  font-size: 18px;
  margin-bottom: 20px;
}

.hero-list {
  display: flex;
  justify-content: center;
  gap: 28px;
}

.hero-btn-start {
  font-weight: 700;
  color: #fff;
  background-color: #02897a;
  border-radius: 4px;
  border: none;
  min-width: 142px;
  height: 53px;
}

.hero-btn-start:hover,
.hero-btn-start:focus {
  background-color: #173a56;
}

.hero-btn-watch {
  font-weight: 600;
  text-decoration: underline;
  color: #02897a;
  border: none;
  background-color: transparent;
  width: 164px;
  height: 23px;
}
